@font-face {
	font-family: BaseNeue;
	src: url(fonts/baseneue/BaseNeueTrial-Medium.ttf);
}

::selection {
  background-color: #f83545;
  color: #FFF;
}


::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(120, 135, 156, .15);
}

::-webkit-scrollbar-thumb {
  background: #f83545;
  border-radius: 69px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; 
    color: #f5f5f5; 
    line-height: 1.6;
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.section {
    padding: 80px 0;
}

.dark-bg {
    background-color: #1e1e1e;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    text-align: center;
    color: #f83545;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: bold;

    transition: .32s;
}

.button.primary {
    background-color: #f83545;
    color: #121212;
    box-shadow: 0 0 0 6px #f8354500;
}

.button.secondary {
    background-color: transparent;
    color: #f83545;
    border: 2px solid #f83545;
}

.button:hover {
    transform: translateY(-2px);
}

.button.primary:hover {
    box-shadow: 0 0 0 6px #f8354535;
}

.button.secondary:hover {
    background-color: #f83545;
    color: #121212;
}

.popup-menu {
    z-index: 99;

    display: none;
    position: fixed;
    width: 100%;
    background-color: #1e1e1e;
    border-top: 1px solid #2c2c2c;
    filter: drop-shadow(0 0 15px #111);
}

.popup-menu ul {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.popup-menu ul a {
    color: #ccc;
    text-decoration: none;
}

.popup-menu ul a:hover {
    color: rgb(252, 134, 134);
    text-decoration: none;
}

header {
  background-color: #1e1e1e;
  /* padding: 20px 0; */
  min-height: 120px;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  z-index: 100;
  transition: all 0.3s ease;
}

header .container {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: #f5f5f5;
    font-size: 1.8em;
    text-decoration: none;
    font-weight: bold;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;

  gap: 15px;
}

nav ul li a {
    font-size: 17px;
    color: #f5f5f5;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f83545;
}

.logo-link {
  display: flex;
  align-items: baseline; 
  text-decoration: none;
}

.logo-text {
  color: #ffffff;
  font-size: 51px;
  font-weight: bold;
  /* line-height: 1; */
}

.logo-x {
  height: 1.2em;
  margin-left: -1px;
  transform: translateY(2px); 
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/720055104128975.5f5bdc0d6cb66.gif'); 
    background-size: cover;
    background-position: center;
    color: #f5f5f5;
    text-align: center;
    padding: 150px 0;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
    color: #f83545;
}

.hero .subtitlu {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #ccc;
}

.hero .button {
    margin: 10px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-bottom: 30px;
}

.service-item {
    border: 2px solid #252525;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 0 transparent;
    transition: .32s !important;
}

.service-item p, .service-item h3, .service-item a {
  user-select: text;
}

.service-item:hover {
    transform: translateY(-5px) !important;
}

.service-item::after {
    position: absolute;
    content: '';

    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;

    background-image: linear-gradient(90deg, #f83545, #da6b75, #f83545, #da6b75);
    background-size: 300% 100%;
    background-repeat: repeat-x;
}

.service-item:hover::after {
    animation: animateBg 1s linear infinite;
}

@keyframes animateBg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.service-item .icon {
    font-size: 2em;
    color: #f83545;
    margin-bottom: 15px;
}

.service-item h3 {
    color: #f5f5f5;
    margin-bottom: 10px;
}

.service-item p {
    color: #ccc;
    font-size: 0.9em;
}

.learn-more {
    display: inline-block;
    margin-top: 15px;
    color: #f83545;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.learn-more:hover {
    color: #f5f5f5;
    transform: translateY(-2px);
}


.partners-grid {
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    align-items: center;
    justify-items: center;
    margin-bottom: 30px;
    padding-top: 20px;

    overflow-x: scroll;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-width: 100%;
}

.partner-logo {
    flex-shrink: 0;

    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    max-width: 140px;
    min-height: 90px;
    transition: transform 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: center;
}

.partner-logo:hover {
    transform: scale(1.05);
}

.partner-logo img {
    max-width: 100%;
    height: auto;
    /* display: block; */
    object-fit: contain;

    max-height: 60px;
}


footer {
    background-color: #1e1e1e;
    color: #ccc;
    text-align: center;
    padding: 20px 0;
    font-size: 0.9em;
}

@media (max-width: 840px) {
    header {
        height: 20px !important;
    }
    
    nav ul {
        display: flex;
        flex-direction: row;

        align-items: center;

        line-height: 1;
    }

    nav ul li {
        display: none;
    }

    .logo-text {
        display: none !important;
    }

    .collapse-btn {
        display: flex !important;
    }

    .hero h1 {
        font-size: 2.75em;
    }
}

.collapse-btn {
    display: none;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
/*     border: 1px solid #353535; */
    box-shadow: 0 0 0 7px #222;
    background-color: #282828;
    cursor: pointer;
}

.collapse-btn i {
    color: #777;
    font-size: 11px;
    font-weight: 400;
}
